<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_home_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_home_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LIteNote"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".service.AudioServiceOnBind"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.LIteNote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <!-- 默认的电话应用 -->
                <category android:name="android.intent.category.APP_CONTACTS" />
            </intent-filter>
        </activity>
    </application>

</manifest>